img{
    width: 300px;
    position: absolute;
    left: 58%;
    top: -15%;
    }
    
.form-container{        
    margin: 0;
    padding: 0;
border: none;
border-radius: 30px;
    display: flex;
    height: 100%;
    width: 50%;
    top:0;
    justify-content: center;
    align-items: center;
    }
.form-container form{
    z-index: 5;
    background-color: rgba(2, 48, 111);
 
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    }
    .form-container form h1{
    position: absolute;
    top: 11%;
    border-bottom-style:groove;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;


}
    .social_icons{
    position: absolute;
    top:20%;
    
    }
     .icon{
        color: black;
        margin: 0;
    }
    .form-container input{
        position: relative;
        top: 40px;
    border-radius: 20px;
    height: 20px;
    width: 70%;
    background-color:#d9d9d9;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 15px;
    outline: none;
    
    }
    .form-container a{
    position: relative;
    top: 30px;
    font-size: 20px;
    color: black;
    }
    .form-container button{
        position: relative;
        top: 50px;
        
        background-color:#d9d9d9;
        color:black;
        font-size: 15px;
        padding: 10px 45px;
        border: 1px solid transparent;
        border-radius: 8px;
        font-weight: 600;
        margin-top: 10px;
        cursor: pointer;
        
    }