<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="./image/logo.png">
    <title>tawjeehkm</title>
</head>
<body>
    <header>
        <nav class="nav_container">
            <a href="" class="logo"><img src="./image/logo.png" alt=""></a>
            <a href="" class="specializations">التخصصات</a>
            <a href="" class="our_team">فريقنا</a>
            <a href="" class="comments">الملاحظات</a>
            <a href="" class="login">الدخول</a>
            <a href="" class="sign_up">التسجيل</a>
            <a href=""  class="contact" >تواصل</a>
            <!-- <a href="" class="pages"></a> -->
        </nav>
    </header>
    <main class="main_container">
        <a href="agricultural/index.html" class="agricultural"><h2>زراعي</h2></a>
        <a href="commercial/index.html" class="commercial"><h2>تجاري</h2></a>
        <a href="entrepreneurship and business/index.html" class="entrepreneurship_and_business"><h2>ريادة اعمال</h2></a>
        <a href="home economics/index.html" class="home_economics"><h2>الاقتصاد المنزلي</h2></a>
        <a href="hotel/index.html" class="hotel"><h2>فندقي</h2></a>
        <a href="industrial/index.html" class="industrial"><h2>صناعي</h2></a>
        <a href="literary/index.html" class="literary"><h2>ادبي</h2></a>
        <a href="scientific/index.html" class="scientific"><h2>علمي</h2></a>
        <a href="sharia/index.html" class="sharia"><h2>شريعة</h2></a>
    </main>
</body>
</html>